<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" > CIVICΛ </a>
            <a class="navbar-brand" id="brandEsd" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" > Employee Skills Development </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                   
                    <li class="nav-item">
                        <a class="nav-link text-dark"  *ngIf="isLoggedIn()" routerLink="/employee-list" routerLinkActive="active" ariaCurrentWhenActive="page" >Employee </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark"  *ngIf="isLoggedIn()" routerLink="/developermodule" routerLinkActive="active" ariaCurrentWhenActive="page" >Developer Module </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark"  *ngIf="isLoggedIn()" routerLink="/testermodule" routerLinkActive="active" ariaCurrentWhenActive="page" >Tester Module</a>
                  </li>
                  
  
                   
                </ul>
  
           
            </div>
            <div >
              <ul class="navbar-nav ml-auto ">
                 <div ngbDropdown display="dynamic"  class="d-inline-block">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" *ngIf="isLoggedIn()" id="reportsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hello, {{username}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end pointer"  aria-labelledby="reportsDropdown">
                            
                            <a *ngIf="isLoggedIn()"(click)="logout()"><i class="fa-solid fa-right-from-bracket px-2"></i> Logout</a>
                            
                        </ul>
                    </li>

                 </div> 
                 
              </ul>
          </div>
        </div>
    </nav>
  </header>
